input[type="radio"] {
    -ms-transform: scale(3); /* IE 9 */
    -webkit-transform: scale(3); /* Chrome, Safari, Opera */
    transform: scale(3);
}

@media screen and (max-width: 700px) {
    .base-template {
      margin: 2em 1rem 0em 1rem !important;
    }
  }