{% extends "base.html" %}
{% block content %}
<div class="overview-of-checkpoints">
    <h1>Rastit</h1>
    <table class="table table-bordered border-primary">
        <thead>
            <tr>
                <th scope="col">#</th>
                {% for checkpoint in checkpoint_data %}
                <th scope="col">{{checkpoint.name}}</th>
                {% endfor %}
                <th scope="col">Yhteensä</th>
            </tr>
        </thead>
        <tbody>
            {% for checkpoint in data %}
            <tr>
                <th scope="row">{{checkpoint[0][0].team_name}}</th>
                {% for team in checkpoint[0] %}
                {% if team.points != None %}
                <td style="border-radius: 8px;background-color: #0a9100a8;">{{team.points}}</td>
                {% else %}
                <td>Ei käyty</td>
                {% endif %}
                {% endfor %}
                <td>{{checkpoint[1][0].points_sum}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}