{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center;">Rastinpitäjä</h1>
<h2 style="text-align: center;">{{checkpoint.name}}</h2>
<div class="overview-of-teams">
    <div class="list-group">
        {% for team in teams %}
        <div style="margin-bottom: 1em;">
            <a style="width: 100%;height: 100%;display: flex; justify-content:space-between; align-items: baseline;"
                class="list-group-item list-group-item-action" href="/team/{{team.id}}">
                <span style="font-size: larger;"><strong>{{team.team_name}}</strong></span>
                <span style="display: flex; align-items:center">
                    {% if team.point_amount == None %}
                    <i style="color: #c9cc00;margin-right: 0.5em;" class="fas fa-check-circle fa-2x"></i>
                    <span style="font-size: 22px;" class="badge badge-primary badge-pill" data-toggle="tooltip"
                        data-placement="bottom" title="Pisteitä annettu">0</span>
                    {% else %}
                    <i style="color: #00912e;margin-right: 0.5em;" class="fas fa-check-circle fa-2x"></i>
                    <span style="font-size: 22px;" class="badge badge-primary badge-pill" data-toggle="tooltip"
                        data-placement="bottom" title="Pisteitä annettu">{{team.point_amount}}</span>
                    {% endif %}
                </span>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}