{% extends "base.html" %}
{% block content %}
<div style="display: flex; flex-direction: row; justify-content: space-between;">
    <div name="checkpoint panel">
        {% if checkpoints %}
        <h2>Rastien järjestyksen muuttaminen</h2>
        <div>
            <form action="/checkpoint-order" method="POST" style="max-width: fit-content;">
                <input type="hidden" name="csrf_token" value={{csrf_token()}}>

                <ul style="list-style-type: none;padding: 0; margin: 0;">
                    {% for checkpoint in checkpoints%}
                    <li>
                        <div>
                            <span style="margin-right: 1rem;">{{checkpoint.name}}</span>
                            <input style="max-width: 8em;" type="number" id="checkpoint_order_input"
                                name="checkpoint_order{{checkpoint.id}}" value={{checkpoint.order_number}} min="0"
                                max="100">
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div style="display: flex; justify-content: end;">
                    <button style="margin-top: 1em;" type="submit" name="submit_button" value="save_checkpoint_order"
                        class="btn btn-primary">Tallenna</button>
                </div>
            </form>
        </div>
        {% else %}
        <h2>Ei Rasteja</h2>
        {% endif %}
    </div>
</div>
{% endblock %}