{% extends "base.html" %}
{% block content %}
<div style="display: flex; flex-direction: row; justify-content: space-between;">
    <div name="user panel">
        {% if users %}
        <h2>Käyttäjät</h2>
        <div>
            <form action="/checkpoint/manage" method="POST">
                <input type="hidden" name="csrf_token" value={{csrf_token()}}>
                <ul style="list-style-type: none;padding: 0; margin: 0;">
                    {% for user in users%}
                    <li>
                        <div class="form-group mb-2">
                            <span style="overflow-wrap: break-word;max-width: 100%;">{{user.user_name}}</span>
                            <select class="form-control" name="checkpoint_select">
                                {% if user.checkpoint_name == None %}
                                <option id="default-value" selected disabled value=''>
                                    Ei rastia
                                </option>
                                {% endif %}
                                {% for checkpoint in checkpoints%}
                                {% if checkpoint.name != None %}
                                {% if user.checkpoint_name != None and checkpoint.name == user.checkpoint_name %}
                                <option id="user-saved-value" selected value='{{user.user_id}},{{checkpoint.id}}'>
                                    {{user.checkpoint_name}} </option>
                                {% else %}
                                <option id="choose-checkpoint" value='{{user.user_id}},{{checkpoint.id}}'>
                                    {{checkpoint.name}}</option>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                <option id="empty-value" value='{{user.user_id}},None'>
                                    Ei rastia
                                </option>
                            </select>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <button type="submit" name="submit_button" value="save_checkpoint"
                    class="btn btn-primary">Tallenna</button>
            </form>
        </div>
        {% else %}
        <h2>Ei käyttäjiä</h2>
        {% endif %}
    </div>
    <div name="checkpoint panel" style="width: 20em;">
        {% if checkpoints %}
        <h2 style="text-align: center;">Rastit</h2>
        <div>
            <ul style="list-style-type:disc">
                {% for checkpoint in checkpoints%}
                {% if checkpoint.name != None %}
                <li>
                    <p style="overflow-wrap: break-word;">{{checkpoint.name}}
                    </p>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <h2 style="text-align: center;">Ei rasteja</h2>
        {% endif %}
        <div style="margin: auto;max-width: 80%;">
            <form action="/checkpoint/manage" method="POST">
                <input type="hidden" name="csrf_token" value={{csrf_token()}}>
                <div class="form-group">
                    {{ checkpoint_adding_form.name.label }}
                    <div style="flex-direction: row;display:flex;flex-wrap: wrap; align-items: center;">
                        <div style="flex-basis: 60%;">
                            {{ checkpoint_adding_form.name(size=20,
                            class="form-control",
                            placeholder="Rastin nimi")}}
                        </div>
                        <button style="flex-basis: 20%;" type="submit" class="btn" name="new checkpoint">
                            <i style="color: #2ccc1b;" class="fas fa-plus-circle fa-2x"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}