{% extends "base.html" %}
{% block content %}
{% if session.username %}

{% else %}
<div style="margin-left: 1rem;">
    <form action="/login" method="POST" style="max-width: 13em">
        <div class="form-group">
            <div>
                {{ form.csrf_token }}
                {{ form.username.label }}
                {{ form.username(size=20, class="form-control", placeholder="Username")}}
            </div>
            <div>
                {{ form.password.label }}
                {{ form.password(size=20, class="form-control", placeholder="Password") }}
            </div>
        </div>
        <div>
            <div class="d-flex justify-content-between">
                <button type="submit" name="submit_button" value="signIn" class="btn btn-primary btn-block">Sign
                    in</button>
            </div>
            <a href="/signup">Don't have account yet?</a>
        </div>

    </form>
</div>
{% endif %}
{% endblock %}