{% extends "base.html" %}
{% block title %} Fuksisuunnistus - sign up {% endblock %}
{% block content %}
<div style="margin-left: 1rem;">
    <form action="/signup" method="POST" style="max-width: 13em">
        <div class="form-group">
            <div>
                {{ form.csrf_token }}
                {{ form.username.label }}
                {{ form.username(size=20, class="form-control", placeholder="Username")}}
            </div>
            <div>
                {{ form.email.label }}
                {{ form.email(size=20, class="form-control", placeholder="Email") }}
            </div>
            <div>
                {{ form.password.label }}
                {{ form.password(size=20, class="form-control", placeholder="Password") }}
            </div>
            <div>
                {{ form.confirm.label }}
                {{ form.confirm(size=20, class="form-control", placeholder="Password") }}
            </div>
        </div>
        <div>
            <div>
                <button type="submit" name="signUp" class="btn btn-primary btn-block">Sign Up</button>
            </div>
        </div>

    </form>
</div>
{% endblock %}