{% extends "base.html" %}
{% block content %}
<div name="Manage team" style="align-items: center;">
    <h2 style="margin-bottom: 2em;">Joukkue: {{team.name}}</h2>
    {% if point_data.point_amount != None %}
    <p style="font-size: 36px;text-align: center;" name="team_points">Annettu: {{point_data.point_amount}}
        pistettä</p>
    {% else %}
    <p style="font-size: 36px;text-align: center;" name="team_points">Joukkueelle ei annettu pisteitä</p>
    {% endif %}
    <form action="/team/{{team.id}}" id="give-points-form" method="POST">
        <input type="hidden" name="csrf_token" value={{csrf_token()}}>
        <div class="form-group">
            <div>
                <div style="display: flex; justify-content: center; flex-direction: row; font-size: 22px;">
                    {% for subfield in form.radio %}
                    <div style="display: flex; flex-direction: column;">
                        <div style="margin-right: 2em;">{{ subfield}}</div>
                        <div style="font-size: 36px; display: flex; flex-direction: column;">{{ subfield.label }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div style="display: flex; justify-content: center;">
                    <button id="give-points" style="font-size: 20px;" type="submit" class="btn btn-primary"
                        name="give points">
                        Tallenna pisteet
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
<script>
    $(function () {
        $('form#give-points-form').bind('submit', function () {
            $.getJSON('/get_points', {
                var1: $('p[name="team_points"]').val()
            }, function (data) {
                $("#some_result").text(data.result);
            });
            return false;
        });
    });
</script>