{% extends "base.html" %}
{% block content %}
<div style="display: flex; flex-direction: row; justify-content: space-between;">
    <div name="user panel">
        {% if users %}
        <h2>Käyttäjät</h2>
        <div>
            <ul style="list-style-type: none;padding: 0; margin: 0;">
                {% for user in users%}
                <li>
                    <div>
                        <span>{{user.name}}</span>
                        <select name="teams">
                            <option disabled selected value> -- Valitse rasti -- </option>
                            {% for team in teams%}
                            <option value={{team.name}}>{{team.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <h2>Ei käyttäjiä</h2>
        {% endif %}
    </div>
    <div name="team panel" style="width: 20em;">
        {% if teams %}
        <h2 style="text-align: center;">Joukkueet</h2>
        <div style="margin-left: 1rem;">
            <ul style="list-style-type: none;padding: 0; margin: 0;">
                {% for team in teams%}
                <li>
                    <p>{{team.name}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <h2 style="text-align: center;">Ei joukkueita</h2>
        {% endif %}
        <div style="margin: auto;width: fit-content;">
            <form action="/team" method="POST">
                <div class="form-group">

                    {{ form.name.label }}
                    <div style="flex-direction: row; display: flex; align-items: center;">
                        {{ form.name(size=20, class="form-control", placeholder="Joukkueen nimi")}}
                        <button type="submit" class="btn" name="new team">
                            <i style="color: #2ccc1b;" class="fas fa-plus-circle fa-2x"></i>
                        </button>
                    </div>
                </div>
            </form>
            {% if form.errors %}
            <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}